name: Test Code (Style, Tests)

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  Checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/gradle-setup

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest checkstyleTestFixtures

  OpenAPI-Definitions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/gradle-setup

      - name: Generate OpenAPI definition from code
        run: ./gradlew resolve

      - name: Check OpenAPI definition match code
        run: git diff --exit-code

  Verify-Launcher:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/gradle-setup

      - name: 'Build launcher'
        run: ./gradlew :launcher:shadowJar

      - name: 'Build Docker image'
        run: docker build -t identity-hub ./launcher

      - name: 'Start Identity Hub'
        run: docker run -d --rm --name identity-hub identity-hub

      - name: 'Wait for Identity Hub to be healthy'
        uses: raschmitt/wait-for-healthy-container@v1
        with:
          container-name: identity-hub
          timeout: 60

  Test:
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/gradle-setup

      - name: 'Upgrade docker-compose (for --wait option)'
        run: |
          sudo curl -L https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: 'Run application in docker-compose'
        run: docker-compose -f system-tests/docker-compose.yml up --wait
        timeout-minutes: 10

      - name: 'Unit and system tests'
        uses: ./.github/actions/run-tests
        with:
          command: ./gradlew test
        timeout-minutes: 10
        env:
          INTEGRATION_TEST: true
          JACOCO: "true"

      #      - name: 'Publish Test Results'
      #        uses: EnricoMi/publish-unit-test-result-action@v1
      #        if: always()
      #        with:
      #          files: "**/test-results/**/*.xml"

      - name: 'docker-compose logs'
        run: docker-compose -f system-tests/docker-compose.yml logs
        if: always()

  Check-Cosmos-Key:
    runs-on: ubuntu-latest
    steps:
      - id: has-cosmos-key
        env:
          HAS_COSMOS_KEY: ${{ secrets.COSMOS_KEY }}
        if: "${{ env.HAS_COSMOS_KEY != '' }}"
        run: echo "::set-output name=defined::true"
    outputs:
      has-cosmos-key: ${{ steps.has-cosmos-key.outputs.defined }}

  Azure-CosmosDB-Integration-Tests:
    # run only if COSMOS_KEY is present
    needs: [ Check-Cosmos-Key ]
    if: needs.Check-Cosmos-Key.outputs.has-cosmos-key == 'true'
    runs-on: ubuntu-latest

    env:
      COSMOS_KEY: ${{ secrets.COSMOS_KEY }}
      COSMOS_URL: ${{ secrets.COSMOS_URL }}

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/gradle-setup

      - name: Azure CosmosDB Tests
        uses: ./.github/actions/run-tests
        with:
          command: ./gradlew test -DincludeTags="AzureCosmosDbIntegrationTest"

  Postgresql-Integration-Tests:
    runs-on: ubuntu-latest
    env:
      JACOCO: true

    services:
      postgres:
        image: postgres:14.2
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: password

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/gradle-setup

      - name: Postgresql Tests
        uses: ./.github/actions/run-tests
        with:
          command: ./gradlew test -DincludeTags="PostgresqlIntegrationTest"

  Upload-Coverage-Report-To-Codecov:
    needs:
      - Test
      - Postgresql-Integration-Tests
      - Azure-CosmosDB-Integration-Tests
    runs-on: ubuntu-latest
    if: always()
    steps:
      # Sources are needed for Codecov report
      - uses: actions/checkout@v3
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts
      - name: CodeCov
        uses: codecov/codecov-action@v3
