name: Run Tests

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [ main, release/*, bugfix/* ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    branches: [ main, release/*, bugfix/* ]
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:

  CodeQL:
    uses: eclipse-edc/.github/.github/workflows/codeql-analysis.yml@main
    secrets: inherit

  Checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest checkstyleTestFixtures

  Javadoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Run Javadoc
        run: ./gradlew javadoc

  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main
      - name: Unit tests
        run: ./gradlew test

  Integration-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main

      - name: Component Tests
        run: ./gradlew compileJava compileTestJava test -DincludeTags="ComponentTest,ApiTest,EndToEndTest"

  Postgresql-Integration-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main

      - name: Postgresql Tests
        run: ./gradlew compileJava compileTestJava test -DincludeTags="PostgresqlIntegrationTest"

  TCK-Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: eclipse-edc/.github/.github/actions/setup-build@main

      - name: TCK Tests
        run: ./gradlew compileJava compileTestJava test -DincludeTags="TckTest" -PverboseTest=true

  Verify-OpenApi:
    if: github.event_name == 'pull_request'
    uses: eclipse-edc/.github/.github/workflows/verify-openapi.yml@main
    secrets: inherit
