name: Test Code (Style, Tests)

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  Checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/gradle-setup

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest checkstyleTestFixtures

  OpenAPI-Definitions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/gradle-setup

      - name: Generate OpenAPI definition from code
        run: ./gradlew resolve

      - name: Check OpenAPI definition match code
        run: git diff --exit-code

  Test:
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/gradle-setup

      - name: 'Build system tests launcher'
        run: ./gradlew :system-tests:launcher:shadowJar

      - name: 'Upgrade docker-compose (for --wait option)'
        run: |
          sudo curl -L https://github.com/docker/compose/releases/download/v2.6.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: 'Run application in docker-compose'
        run: docker-compose -f system-tests/tests/docker-compose.yml up --build --wait
        timeout-minutes: 10

      - name: 'Unit and system tests'
        run: ./gradlew test
        timeout-minutes: 10
        env:
          INTEGRATION_TEST: true

      - name: 'Publish Test Results'
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: "**/test-results/**/*.xml"

      - name: 'docker-compose logs'
        run: docker-compose -f system-tests/tests/docker-compose.yml logs
        if: always()
